<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
 <!-- 验证是否登录 -->
<c:import url="yanzheng.jsp"></c:import>  
<!-- 验证是否登录 -->
<html>
<head>

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<script type="text/javascript" src="js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="js/bootstrap.js" ></script>
		<link href="css/bootstrap-3.3.4.css" rel="stylesheet">
		<!-- 验证是否登录 -->
<c:import url="yanzheng.jsp"></c:import>  
<!-- 验证是否登录 -->
<script type="text/javascript">
	
	$(function(){
		$("a[data-id]").click(function(){
			
			var id=$(this).attr("data-id");
			var val=$(this).attr("value");
			
			$(this).attr("href","doRole?id="+id+"&method="+val);
			
		})
		
		$("button[data-id]").click(function(){
			
			
			var id=$(this).attr("data-id");
			var val=$(this).attr("value");
			
			var ys= confirm("是否删除");
			
			if(ys){
			
			//$(this).attr("location","doRole?id="+id+"&method="+val);
			window.location="doRole?id="+id+"&method="+val;
				
			}
		})
		
		
		
		
	})


</script>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.wai{
			width:1000px;
			margin:0px auto;
		}
	table tr td,table tr th{
			border:1px solid #DDDDDD;
	}
	#buttons{
		margin-left: 30px;
	}
	
</style>
</head>
<body>

	<div class="wai">
		<table border="" cellspacing="" cellpadding="" class="table  table-hover">
									<tr>
										<th>角色ID</th>
										<th>角色名字</th>
										<th>操作</th>
									</tr>
								<c:forEach items="${list_role }" var="r">
									<tr>
										<td>${r.res_id }		</td>
										<td>	<a href="#" data-id="${r.res_id }" value="updata">	${r.res_name }	</a>	</td>
										<td>	 <button  type="button" class="btn btn-danger" id="buttons" value="delete"  data-id="${r.res_id }">删除</button>			</td>
									</tr>
								
								</c:forEach>
								
									</table>
	</div>
	

</body>
</html>