<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

 <!-- 验证是否登录 -->
<c:import url="yanzheng.jsp"></c:import>  
<!-- 验证是否登录 -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>修改</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<script src="js/jquery-2.1.0.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/Validform_v5.3.2.js" ></script>
		
		<script type="text/javascript">
			$(function(){
				$("#myform").Validform({
					tiptype: 2
				});
			})
		</script>

		<style type="text/css">
			.magin_center{
				margin: 0px auto;
				width: 400px;
			}
			.magin_center td{
				padding: 10px;
			}
			.magin_center table{
				width: 100%;
			}
		</style>
	</head>
	<body>
		
	
		<div class="panel panel-success magin_center">
			<div class="panel-heading">学生信息修改</div>
			<div class="panel-body">
				<form method="post" action="dostu_updateStudent" id="myform">
					<input type="hidden" name="id" id="id" value="${login_student.s_id}" />
					<table class="table table-hover">
						<input type="hidden" name="role" id="role" value="${login_student.s_role}" />
						
						<input type="hidden" name="grade" id="grade" value="${login_student.s_grade}" />
						
						<input type="hidden" name="error" id="error" value="${login_student.s_error}" />
						<input type="hidden" name="state" id="state" value="${login_student.s_state}" />
						
						<tr>
							<td>用户ID</td>
							<td>
								<input class="form-control" type="text" name="id" id="" disabled="disabled" value="${login_student.s_id}" placeholder="请输入姓名" />
							</td>
						</tr>
						<tr>
							<td>用户名</td>
							<td><input class="form-control" type="text" name="uname" id="" disabled="disabled" value="${login_student.s_uname}" placeholder="请输入用户名" /></td>
						</tr>
						<tr>
						</tr>
						<tr>
							<td>姓名</td>
							<td>
								<input class="form-control" datatype="/[\u4E00-\u9FA5]{2,4}/" nullmsg="不符合规范" type="text" name="name" id="name" value="${login_student.s_name}" placeholder="请输入姓名" />
								<span id="ti"></span>
							</td>
							<td><span></span></td>
						</tr>
						<tr>
							<td>性别</td>
						
							<td>
									<select class="form-control"  name="gender" id="gender" value="${login_student.s_gender }" >
										<option value="">--请选择--</option>
										<option ${login_student.s_gender == 1 ? 'selected' : '' }>男</option>
										<option ${login_student.s_gender == 0 ? 'selected' : '' }>女</option>
										
									</select>
							</td>
							
						</tr>
						<tr align="center">
							<td colspan="2">
								<button type="submit" class="btn btn-primary" id="btn"> 修 改 </button>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button type="reset" class="btn btn-warning"> 重 置 </button>
							</td>
						</tr>
						
						
					</table>
					
					
				</form>
			</div>
		</div>
		
	</body>
</html>